<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <%- include('partials/navigation', { menuLinks, activeLinkPath }) %>

  <main>
    <h1 class="heading">404 - Page Not Found</h1>
    <p>The page you're looking for does not exist.</p>
  </main>
</body>
</html>
