<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <%- include('partials/navigation', { menuLinks, activeLinkPath }) %>

  <main>
    <h1 class="heading">Home page</h1>
    <p>Welcome to the shop! Use the navigation above to explore products.</p>
  </main>
</body>
</html>
